<p style="margin:0px;">
	Estimado <?php echo h($user['User']['name'].' '.$user['User']['father_surname'].' '.$user['User']['mother_surname']).':';?>
</p>
<p style="margin:0px;">
	A continuacion le indicamos su nuevo password:<br>
	Password: <?=$newPass?>
</p>
