@charset "utf-8";
/**
 *
 * Generic CSS for CakePHP
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       app.webroot.css
 * @since         CakePHP(tm)
 * @license       MIT License (http://www.opensource.org/licenses/mit-license.php)
 */
 
@import url(http://fonts.googleapis.com/css?family=Raleway:700,400,300);

/* body {
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-size:15px;
	font-weight: 400;
	height: 100%;
} */

.gradiente{
	background: rgba(255,175,75,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,175,75,1) 0%, rgba(253,123,25,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(253,123,25,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,175,75,1) 0%, rgba(253,123,25,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,175,75,1) 0%, rgba(253,123,25,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,175,75,1) 0%, rgba(253,123,25,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,175,75,1) 0%, rgba(253,123,25,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#fd7b19', GradientType=1 );
}

h1.raleway{
	font-size: 50px;
	font-weight:400;
}
h2.raleway{
	font-size: 35px;
}

.raleway{
	font-family: 'Raleway', sans-serif;
	color: #fff;
}

a {
	/* color: #737e8a; */
	text-decoration: none;
}

a.button{
	width: 200px;
	text-align: center;
	display: block;
	padding: 10px;
	border: 1px solid #fff;
	color: #FFF;
	border-radius: 5px;
	position:relative;
	font-weight: lighter;
	font-size: 20px;
}

a.button:hover{
	background: #b7680c;
}

/** Paging **/
.paging {
	background:#fff;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
	text-decoration: none;
	padding: 5px 8px;
	display: inline-block
}
.paging > span {
	display: inline-block;
	border: 1px solid #ccc;
	border-left: 0;
}
.paging > span:hover {
	background: #efefef;
}
.paging .prev {
	border-left: 1px solid #ccc;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.paging .next {
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.paging .disabled {
	color: #ddd;
}
.paging .disabled:hover {
	background: transparent;
}
.paging .current {
	background: #efefef;
	color: #c73e14;
}

form div.submit {
	text-align:center;
	border: 0;
	clear: both;
	margin-top: 10px;
}

form .submit input[type=submit] {
	background: none;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fff;
	/* text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px; */
	padding: 15px 20px;
	cursor: pointer;
}
form .submit input[type=submit]:hover {
	background: #b7680c;
}


