/**
 *
 * Apply Here your Custom CSS
 *
*/ 
@import url(http://fonts.googleapis.com/css?family=Raleway:700,400,300);

html, body {
	height: 100%;
	font-family: 'Raleway', sans-serif;
	color: #fff;
}

.body-download{
	background: url('../img/img_background.jpg') center;
	background-repeat: no-repeat;
	background-size: 100%; 
}
.page-container .main-content{
	background : none;
}

footer{
	background: url('../img/img_Footer.jpg') center;
	background-repeat: no-repeat;
	position:fixed;
	background-size: 100%;
	bottom:0;
	left:0;
	width: 100%;
	border-top: none !important;
}

 @media (max-width: 1024px){
    .body-download{
		background: #e3e3c9;
		/*background-size: 100%;*/
	}
}